
/************************ 
        HEADER
************************/
.wrapper{
  height: 10vh;
}

.left .logo{
  width: 120px;
}

.left h1{
  font-size: 3.5rem;
}

/************************ 
        HEADER
************************/

/************************ 
        MAIN
************************/
.main-wrapper{
  background-color: #7fffd4;
  height: 80vh;
}

.grid-container{
  background-color: maroon;
  width: 800px;
  aspect-ratio: 1;
}

.square{
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

/************************ 
        MAIN
************************/