
/************************ 
        HEADER
************************/
.wrapper{
  height: 10vh;
}

.left .logo{
  width: 120px;
}

.left h1{
  font-size: 3.5rem;
}

/************************ 
        HEADER
************************/

/************************ 
        MAIN
************************/
.main-wrapper{
  background-color: #7fffd4;
}

.grid-container{
  width: 800px;
  aspect-ratio: 1;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square{
  width: 80px;
  height: 80px;
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.square.clicked{
  background-color: blue;
}
/************************ 
          MAIN
************************/

/************************ 
        FOOOTER
************************/

footer{
  height: 5vh;
}

